.asso {
  position: relative;
  color: white;
  background: rgb(0, 0, 0);
  height: auto;
  overflow: visible;
  padding: 0rem 0.5rem 14rem;
  height: auto;
  z-index: 0;
}

.asso::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 801;
  background-image: repeating-linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0.074) 0px,
    rgb(248, 119, 6, 0.15) 1px,
    transparent 250px,
    transparent 460px
  );
  pointer-events: none;
  filter: blur(8px);
  opacity: 0;
  transition: opacity 6s ease-in-out;
}

.asso::after {
  content: "";
  position: fixed;
  z-index: 0;
  top: 20.9%;
  left: 1%;
  width: 88.5%;
  height: 1.9px;
  background: rgb(248, 119, 6);
  opacity: 0;
  animation: fadeLineTop 4s ease-in forwards;
  animation-delay: 0.5s;
}

@keyframes fadeLineTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.asso-title {
  position: fixed;
  top: 10%;
  left: 5%;
  font-size: 3.5rem;
  color: rgb(247, 241, 241);
  font-family: "Caveat", cursive;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 3;
  margin: 0;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 2s ease-in-out,
    transform 2s ease-in-out;
}

.crossfade-visible::before {
  opacity: 1;
}

.asso-rectangle {
  position: relative;
  top: 230px;
  left: 1%;
  width: 78%;
  background: rgb(0, 0, 0);
  padding: 0 20px;
  z-index: 700;
  opacity: 0;
  overflow: hidden;
  transition: opacity 2s ease-in-out;
  border-radius: 3px;
}

.crossfade-visible .asso-rectangle {
  opacity: 1;
}

.logoasso {
  position: fixed;
  top: 11%;
  right: 22%;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.logoasso img {
  width: 12vw;
  width: 120px;
  height: auto;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.assowrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
  width: 100%;
  padding: 0 20px;
}

.asso-image-wrapper {
  position: relative;
  flex: none; /* ⛔ enlève le comportement flex qui gêne */
  max-width: 750px; /* ← tu peux augmenter ici */
  width: 100%;
  margin: 0 auto 0; /* ✅ centre horizontal */
  overflow: hidden;
  opacity: 0;
  animation: fadeImage 3.5s ease forwards;
  animation-delay: 1s;
  cursor: pointer;
  border: 1px solid rgb(248, 119, 6);
  border-radius: 3px;
}

.asso-image-wrapper img {
  width: 100%;
  height: 380px; /* ← allonge visuellement */
  object-fit: cover; /* garde un rendu clean */
  border-radius: 3px;
  display: block;
}

.asso-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asso-titre {
  font-family: "Caveat", cursive;
  font-size: 2.2rem;
  color: white;
  margin: 40px 0 30px;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.asso-section {
  width: 100%;
  margin-top: 100px;
}

.asso-section-title {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 2.2rem;
  color: rgb(241, 236, 236);
  padding-top: 100px;
}

.asso-text {
  flex: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 1.05rem;
  line-height: 1.4;
  text-align: justify;
  opacity: 0;
  animation: fadeText 2s ease forwards;
  animation-delay: 1s;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 10px;
}

.assowrap3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin: 100px auto 40px;
  padding: 0 20px;
}

.asso-image-wrapper2 {
  flex: 1;
  max-width: 350px;
  overflow: hidden;
  opacity: 0;
  animation: fadeImage 2s ease forwards;
  animation-delay: 1s;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  cursor: pointer;
}

.asso-image-wrapper2 img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  display: block;
}

@keyframes fadeImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text2 {
  margin-top: 15px;
}

.asso-text2 {
  position: relative;
  flex: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 1.05rem;
  line-height: 1.4;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeText 2s ease forwards;
  animation-delay: 0.4s;
  padding: 15px;
}

.asso-section::before,
.asso-section::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 1px;
  background: rgb(248, 119, 6);
}

.asso-text3 {
  flex: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 1.05rem;
  line-height: 1.4;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fadeText 1.6s ease forwards;
  animation-delay: 0.7s;
  margin-top: 60px;
  padding: 10px;
}

@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.asso-text span {
  color: rgb(248, 119, 6);
  font-size: 1.2rem;
}

.asso-text3 span {
  color: rgb(248, 119, 6);
  font-size: 1.2rem;
}

.text2 span {
  color: rgb(248, 119, 6);
  font-size: 1.2rem;
}

.text3 span {
  color: rgb(248, 119, 6);
  font-size: 1.2rem;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  cursor: zoom-out;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  cursor: zoom-out;
}

.enlarged-media {
  position: relative;
  max-height: 90%;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
  animation: zoomIn 0.4s ease-out forwards;
  max-width: 60%;
}

.enlarged-media img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}

.close-button {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: white;
  font-size: 2rem;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
}

.assowrap.reverse {
  flex-direction: row !important;
  margin-top: 40px;
  margin-bottom: 100px;
  gap: 80px;
}

.asso-vertical-block {
  width: 100%;
  max-width: 900px;
  margin: 50px auto 60px;
  text-align: center;
  animation: fadeImage 2s ease forwards;
  opacity: 0;
}

.asso-vertical-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center 30%;
  border-radius: 6px;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid rgb(248, 119, 6);
  border-radius: 3px;
}

.asso-vertical-text {
  margin-top: 40px;
  font-size: 1.05rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
  text-align: justify;
  color: #f1f1f1;
  opacity: 0;
  animation: fadeText 2s ease forwards;
  animation-delay: 1s;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.asso-vertical-text2 {
  font-size: 1.05rem;
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
  text-align: justify;
  color: #f1f1f1;
  opacity: 0;
  animation: fadeText 2s ease forwards;
  animation-delay: 1s;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.asso-vertical-text span {
  color: rgb(248, 119, 6);
  font-size: 1.2rem;
}

@media (max-width: 1450px) {
  .asso-rectangle {
    margin-top: -40px;
  }
}

/* responsive */
@media (max-width: 900px) {
  .asso::after {
    top: 22.5%;
    right: 0;
    width: 98vw;
  }

  .asso-bg {
    position: fixed;
    height: 22.5vh;
    inset: 0;
    background: black;
    z-index: 1;
    pointer-events: none;
  }

  .asso-rectangle {
    margin-top: 15px;
    width: 98%;
    z-index: 0;
  }

  .asso-text2::before,
  .asso-text2::after {
    display: none;
  }

  .logoasso {
    display: none;
  }

  .assowrap {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin-top: 20px;
  }

  .asso-text {
    max-width: 100%;
    font-size: 1rem;
    margin-top: 5px;
  }

  .asso-image-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .assowrap.reverse {
    flex-direction: column-reverse !important;
    gap: 30px;
    margin-top: 40px;
    align-items: center;
  }

  .asso-image-wrapper2 {
    max-width: 80%;
    min-width: 220px;
  }

  .asso-image-wrapper2 img {
    width: 100%;
    height: auto;
  }

  .asso-text2 {
    max-width: 100%;
    margin-top: 0;
    font-size: 1rem;
    padding: 15px;
  }

  .assowrap3 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
  }

  .assowrap3 .asso-image-wrapper {
    max-width: 100%;
    min-width: 220px;
  }

  .assowrap3 .asso-image-wrapper img {
    width: 100%;
    height: auto;
  }

  .asso-text3 {
    max-width: 100%;
    margin-top: 0;
    padding: 15px;
    font-size: 1rem;
  }

  .asso-vertical-block {
    margin-top: 40px;
  }

  .asso-vertical-text {
    max-width: 100%;
    margin-top: 30px;
    padding: 15px;
    font-size: 1rem;
  }
}

.visible-after-video {
  opacity: 0.8 !important;
  transform: translateY(0);
}

@media (max-width: 500px) {
  .asso {
    padding-bottom: 15rem;
  }

  .asso-title {
    left: 25%;
  }

  .asso-titre {
    margin-top: 30px;
  }

  .asso::after {
    display: none;
  }

  .assowrap {
    padding: 0;
    margin-top: 30px;
  }

  .asso-text {
    margin: auto 0;
    hyphens: auto;
    line-height: 1.4;
  }

  .asso-text2 {
    line-height: 1.4;
    hyphens: auto;
    margin-bottom: -40px;
  }

  .asso-text3 {
    line-height: 1.4;
    hyphens: auto;
  }

  .asso-vertical-text {
    line-height: 1.4;
  }

  .asso-vertical-block {
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .asso-vertical-image {
    margin-top: -30px;
  }

  .asso-rectangle {
    padding: 0;
    margin-top: -60px;
  }

  .asso-bg::before {
    display: block;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-image: repeating-linear-gradient(
      -135deg,
      rgba(255, 255, 255, 0.06) 0px,
      rgb(248, 119, 6, 0.15) 1px,
      transparent 350px,
      transparent 530px
    );
    filter: blur(8px);
    opacity: 1;
    pointer-events: none;
  }

  .asso-section-title {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .asso-image-wrapper2 {
    margin-top: -40px;
  }

  .asso-block {
    margin-top: 30px;
  }
}
