.bio {
  position: relative;
  color: white;
  background: transparent;
  min-height: 100vh; /* occupe au moins l'écran, mais s'adapte */
  height: auto;
  overflow: visible;
  padding: 0rem 0.5rem 6rem;
  z-index: 0;
}

.bio::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 801; /* derrière le titre et la photo */
  background-image: repeating-linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0.06) 0px,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 250px,
    transparent 450px
  );
  pointer-events: none;
  filter: blur(8px);
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.bio::after {
  content: "";
  position: fixed;
  z-index: 0;
  top: 20.9%;
  left: 1%;
  width: 88.5%;
  height: 1.9px;
  background: rgb(255, 255, 255);
  opacity: 0; /* départ invisible */
  animation: fadeLineTop 4s ease-in forwards;
  animation-delay: 0.5s; /* décalage pour effet plus élégant */
}

/* animation pour la verticale */
@keyframes fadeLineVertical {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bio-title {
  position: fixed;
  top: 10%;
  left: 5%;
  font-size: 3.5rem;
  color: white;
  font-family: "Caveat", cursive;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  z-index: 3;
  margin: 0;
  white-space: nowrap;
  opacity: 0;
  /* décalage initial pour le glissement */
  transform: translateY(20px); /* décalage initial pour le glissement */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.visible-after-video {
  opacity: 0.8 !important;
  transform: translateY(0);
}

.bio-content {
  position: relative;
  z-index: 800;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.bio-content20 {
  position: relative;
  z-index: 800;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  margin: 40px 0;
}

.bio-photo {
  z-index: 801;
  position: relative; /* nécessaire pour ::after */
  flex: 1 1 70%; /* la photo occupe 60% environ sur grand écran */
  overflow: hidden;
  border-radius: 12px;
}

.bio-photo20 {
  z-index: 801;
  position: relative; /* nécessaire pour ::after */
  flex: 1 1 60%; /* la photo occupe 60% environ sur grand écran */
  overflow: hidden;
  border-radius: 12px;
}

.bio-photo img {
  width: 100%;
  height: 350px;
  animation: fadeInPhoto 3s ease forwards;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: fadeInPhoto 3s ease forwards;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  object-fit: cover; /* recadre sans déformer */
  object-position: center 15%; /* centre le sujet */
  border-radius: 12px;
  z-index: 802;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid rgb(244, 207, 20);
}

.bio-photo20 img {
  width: 100%;
  height: 350px;
  animation: fadeInPhoto 3s ease forwards;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: fadeInPhoto 3s ease forwards;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  object-fit: cover; /* recadre sans déformer */
  object-position: center 35%; /* centre le sujet */
  border-radius: 12px;
  z-index: 802;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid rgb(244, 207, 20);
}

@keyframes fadeInPhoto {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bio-text {
  font-family: "Quicksand", serif;
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;

  /* Fond derrière le texte */
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: 0; /* collé à gauche */
  margin-right: auto; /* pousse vers la gauche */
}

.bio-text p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text3 {
  font-family: "Quicksand", serif;
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-left: auto; /* pousse vers la droite */
  margin-right: 0; /* collé à droite */
  margin-top: 10px;
}

.bio-text3 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text4 {
  font-family: "Quicksand", serif;
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: 0; /* collé à gauche */
  margin-right: auto; /* pousse vers la gauche */
}

.bio-text4 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text4 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text5 {
  font-family: "Quicksand", serif;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: auto; /* pousse vers la droite */
  margin-right: 0; /* collé à droite */
  margin-top: 10px;
}

.bio-text5 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text6 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  width: 90%;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: 0; /* collé à gauche */
  margin-right: auto; /* pousse vers la gauche */
  margin-top: 10px;
}

.bio-text6 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text50 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: auto; /* pousse vers la droite */
  margin-right: 0; /* collé à droite */
}

.bio-text50 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text51 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: 0; /* collé à gauche */
  margin-right: auto; /* pousse vers la gauche */
  margin-top: 10px;
}

.bio-text51 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text52 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: auto; /* pousse vers la droite */
  margin-right: 0; /* collé à droite */
  margin-top: 10px;
}

.bio-text52 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

.bio-text53 {
  font-family: "Quicksand";
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
  opacity: 0;
  animation: fadeInPhoto 1.5s ease forwards;
  z-index: 801;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.05); /* blanc semi-transparent */
  padding: 25px 20px 15px;
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* léger relief */
  margin-left: 0; /* collé à gauche */
  margin-right: auto; /* pousse vers la gauche */
  margin-top: 10px;
}

.bio-text53 p::first-letter {
  font-size: 3rem; /* taille plus grande */
  font-weight: bold;
  color: #ffffff; /* ou ta couleur d’accent */
  font-family: "Caveat", cursive; /* si tu veux une touche artistique */
  float: left;
  line-height: 1;
  margin-right: 2px;
  margin-top: -22px;
}

h2 {
  font-family: "Caveat", serif;
  font-size: 1.8rem;
  opacity: 0;
  animation: fadeInPhoto 3s ease forwards;
  z-index: 801;
}

.olivia {
  text-align: right; /* aligne le texte à droite */
}

/* rectangle vert derrière la photo */
.bio-rectangle {
  position: relative;
  top: 155px;
  /* commence au-dessus de la photo, ajuster selon besoin */
  left: 1%;
  width: 78%; /* jusqu'à la ligne blanche à droite */
  padding: 50px;
  background: rgb(0, 0, 0);
  z-index: 700; /* derrière la photo */
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Logo en bas à droite de la vidéo */
.logobio {
  position: fixed; /* Au lieu de fixed */ /* absolute pour qu'il reste dans le container vidéo */
  top: 13%; /* distance depuis le bas de la vidéo */
  right: 21%; /* distance depuis la droite */
  z-index: 100;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.logobio img {
  width: 12vw; /* largeur relative à la largeur de l'écran */
  width: 200px; /* limite maximale pour les grands écrans */
  height: auto; /* garde les proportions */
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Apparition progressive */
.crossfade-visible .bio-text {
  opacity: 1;
  transform: translateY(0);
}

/* apparition progressive avec contentVisible */
.crossfade-visible .bio-rectangle {
  opacity: 1;
}

.crossfade-visible::before {
  opacity: 1;
}

.bio-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.bio-photo2 {
  position: relative;
  flex: 1 1 100%;
  overflow: hidden;
  border-radius: 12px;
  max-width: 1000px; /* tu peux ajuster selon ton layout */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.75);
}

/* conteneur vidéo panoramique */
.bio-video-diamond {
  position: relative;
  width: 100%;
  height: 350px; /* hauteur "panoramique" */
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid white;
}

/* la vidéo elle-même */
.bio-video-diamond video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recadre sans déformer */
  object-position: center 35%;
  border-radius: 12px;
  display: block;
}

.bio-rectangle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  opacity: 0.4; /* ajuste ici l’opacité */
  pointer-events: none; /* pour ne pas bloquer le scroll ou les clics */
}

@media (max-width: 900px) {
  .bio-bg {
    position: fixed;
    height: 22.5vh;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background: black; /* ton rouge */
    z-index: 1; /* au-dessus du rectangle (700) mais en dessous du titre/nav */
    pointer-events: none; /* n'interfère pas avec les clics */
  }

  .bio-bg::before {
    content: "";
    position: absolute; /* important pour que ça reste dans .bio-bg */
    inset: 0;
    z-index: 0;
    background-image: repeating-linear-gradient(
      -135deg,
      rgba(255, 255, 255, 0.06) 0px,
      rgba(255, 255, 255, 0.136) 1px,
      transparent 250px,
      transparent 530px
    );
    filter: blur(8px);
    opacity: 1; /* visible */
    pointer-events: none;
  }

  .bio::after {
    top: 22.5%;
    z-index: 1;
    right: 0; /* commence à zéro à droite */
    width: 97vw; /* prend toute la largeur de l’écran */
    left: 1.5%;
  }

  .bio-content {
    margin-top: 20px;
  }

  .bio-content20 {
    margin-top: 20px;
  }

  .bio-rectangle {
    margin-top: 10px;

    z-index: 0;
    width: calc(100% - 1rem); /* laisse 1rem de marge de chaque côté */

    padding: 2rem 2rem 3rem; /* padding intérieur pour que le contenu ne touche pas les bords */
    border-radius: 5px; /* optionnel : un peu d’arrondi pour le mobile */
  }

  .logobio {
    display: none;
  }

  .bio-text {
    margin-top: 10px; /* réduit l’espace au-dessus du texte */
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;

    text-justify: inter-word; /* ajuste les espaces entre mots */
    word-spacing: 0.01em; /* limite l’écart entre les mots */
    hyphens: auto;
  }

  .bio-text p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text3 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
  }

  .bio-text3 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text4 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
  }

  .bio-text4 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text5 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
  }

  .bio-text5 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text6 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
    margin-bottom: 80px;
  }

  .bio-text6 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text50 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
  }

  .bio-text50 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text51 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
  }

  .bio-text51 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text52 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
  }

  .bio-text52 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  .bio-text53 {
    font-size: 1.1rem; /* texte un peu plus petit */
    line-height: 1.3;
  }

  .bio-text53 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -10px;
  }

  h2 {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.4;
  }

  h2 .role {
    display: block; /* passe en dessous du nom */
  }

  h2 .dash {
    display: none;
  }
}

@media (max-width: 768px) {
  .bio-title {
    transform: none;
    left: 40%; /* centre horizontalement */
    transform: translateX(-50%) translateY(0);
  }

  .bio::after {
    display: none;
  }

  .bio-rectangle {
    position: relative;
    border-top: 2px solid white;
    background-color: rgba(0, 0, 0, 0.2); /* pour tester la visibilité */
  }

  h2 {
    margin-top: 15px;
  }

  .bio-text {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text3 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text3 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text4 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text4 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text5 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text5 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text6 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text6 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text50 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text50 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text51 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text51 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text52 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text52 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-text53 {
    font-size: 1rem;
    width: 100%;
    margin: auto 0;
  }

  .bio-text53 p::first-letter {
    font-size: 2rem; /* taille plus grande */
    margin-right: 2px;
    margin-top: -12px;
  }

  .bio-photo img {
    height: 300px;
  }

  .bio-photo20 img {
    height: 300px;
  }

  /* conteneur vidéo panoramique */
  .bio-video-diamond {
    height: 270px; /* hauteur "panoramique" */
  }
}
