*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  scroll-behavior: smooth;
  background-color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* hérite de la couleur du parent */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
