/* ===== Réinitialisation et styles globaux ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  scroll-behavior: auto !important;
  background-color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@font-face {
  font-family: "Quicksand";
  src: url("/Fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caveat";
  src: url("/Fonts/Caveat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
